@import "@/styles/config/_colors.scss";
html {
  --scrollbar-thumb-color: #e915c7;
  --scrollbar-track-color: #eee;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
body {
  height: 400dvh;
  color: $color-dark;
  background-color: $color-light;
  font-family: sans-serif, "Courier New", Courier, monospace;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
h1 {
  font-size: clamp(40px, 10vw, 60px);
}
a {
  text-decoration: none;
  color: $color-dark;
  font-weight: bold;
  opacity: 0.4;
  transition: opacity $transition;
  &:hover {
    opacity: 0.7;
  }
  &.is-active,
  &.is-frontpage {
    opacity: 1;
  }
}
:root {
  --state-color: black;
  --bg: white;
}
// forms
input,
select,
textarea {
  appearance: none;
  border: 3px solid var(--state-color);
  background: var(--bg);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font: inherit;
  padding: 0.5rem;
  inline-size: 100%;

  &:focus {
    outline: 3px dashed black;
  }
}
