@mixin validInput {
  --state-color: green;
  --bg: linear-gradient(45deg in oklch, lime, #02c3ff);
}
@mixin invalidInput {
  --state-color: red;
  --bg: linear-gradient(15deg in oklch, #ea00ff, #ffb472);
}
